
p1 {
    color: white;
    font-size: 25px;
}

/* Additional CSS rules */
body {
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif; 
    color: darkseagreen;  
  /*background-color: darkseagreen;*/

  background-color: darkseagreen;
  text-align: center;

}

h1 {
  color: darkgreen;
  font-size: 50px;
}

.text {
  color: white;
}

label{
    color: darkgreen;
    font-size: 70px;
}

.center {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }

#textbox{
    height:70px;
    width: 600px;
    font-size:25pt;
    text-align: center;
    background-color: lightyellow;
}

input{
    text-align: center; 
    border-radius: 10px;
}
button {
    display: inline-block;
    background-color: lightyellow;
    padding: 20px;
    height: 75px;
    width: 200px;
    color: green;
    text-align: center;
    border: 4px double darkseagreen;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer; /* add this line */
    margin: 5px; /* add this line */
  }
  button:hover {
    background-color: darkseagreen;
  }
    
